{% extends 'base.html.twig'%}
{% block title %}Contrat de Maintenance{% endblock %}
{% block body %}
<div class="bodyy-left">
  {% block navigation %}
  <li><a href="{{ path('videal_contrat_maintenance_homepage') }}">Contrat de maintenance</a></li>
  <li><a href="{{ path('videal_depannage_alarme_homepage') }}">Depannage Système d'alarme</a></li>
  <li><a href="{{ path('videal_depannage_video_homepage') }}">Depannage Video</a></li>
  <li><a href="{{ path('videal_interphonie_et_ca_homepage') }}">Interphonie et controle d'accès</a></li>
  <li><a href="{{ path('videal_incendie_homepage') }}">Incendie</a></li>
  {% endblock %}
</div>
<div class="bodyy-right">
  <h1 class="text-center">CONTRAT DE MAINTENANCE</h1>
  <p>Afin d'optimiser votre système d'alarme intrusion, nous vous proposons toute une gamme de contrat de maintenance.</p>
  <div class="contenu">
    <h3>Contrat TRANQUILLITE:</h3>
    <p>Ce contrat comprend une visite annuelle préventive afin de contrôler : le bon fonctionnement de votre système d'alarme intrusion, d'effectuer toute mise à jour éventuelle ainsi qu'une remise à niveau des utilisateurs.</p>
  </div>
  <div class="contenu">
    <h3>Contrat MEDIUM:</h3>
    <p>Ce contrat comprend une visite annuelle ainsi que toutes les interventions ( M/O et déplacements) durant l'année pour tout problème contractuel.</p>
<div id="page">
  <div class="bodyy-left">
    {% block navigation %}
    <li><a href="{{ path('videal_contrat_maintenance_homepage') }}">Contrat de maintenance</a></li>
    <li><a href="#">Depannage/ Reglages porte de garage</a></li>
    <li><a href="{{ path('videal_depannage_alarme_homepage') }}">Depannage Système d'alarme</a></li>
    <li><a href="{{ path('videal_depannage_video_homepage') }}">Depannage Video</a></li>
    <li><a href="{{ path('videal_interphonie_et_ca_homepage') }}">Interphonie et controle d'accès</a></li>
    <li><a href="{{ path('videal_incendie_homepage') }}">Incendie</a></li>
    {% endblock %}
  </div>
  <div class="bodyy-right">
    <h1 class="text-center">CONTRAT DE MAINTENANCE</h1>
    <p>Afin d'optimiser votre système d'alarme intrusion, nous vous proposons toute une gamme de contrat de maintenance.</p>
    <div class="contenu">
      <h3>Contrat TRANQUILLITE:</h3>
      <p>Ce contrat comprend une visite annuelle préventive afin de contrôler : le bon fonctionnement de votre système d'alarme intrusion, d'effectuer toute mise à jour éventuelle ainsi qu'une remise à niveau des utilisateurs.</p>
    </div>
    <div class="contenu">
      <h3>Contrat MEDIUM:</h3>
      <p>Ce contrat comprend une visite annuelle ainsi que toutes les interventions ( M/O et déplacements) durant l'année pour tout problème contractuel.</p>
    </div>
    <div class="contenu">
      <h3>Contrat OPTIMUM:</h3>
      <p> Ce contrat comprend une visite annuelle préventive ainsi que toutes interventions ( M/O et déplacements) et le remplacement du matériel pour tout problème contractuel</p>
    </div>
  </div>
</div>
{% endblock %}
