  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Videal{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/e9bc0b58ef.js"></script>
    <script defer src="/static/fontawesome/fontawesome-all.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/Images/V.jpg') }}"/>
  </head>
  <body>
    <a href="#">
      <img class="img_logo" alt="Logo" src="{{ asset('bundles/Images//Videal2.jpg') }}" >
    </a>
    {% block navbar %}
    <nav>
      <label for="menu-mobile" class="menu-mobile">Menu</label>
      <input type="checkbox" name="menu-mobile" role="button">
        <ul>
          <li class="menu"><a href="{{ path('videal_accueil_homepage') }}"><i class="fas fa-home fa-lg fa-nav"></i><i class="fas fa-nav">Accueil</i></a></li>
          <li class="menu"><a href="{{ path('videal_about_us_homepage') }}"><i class="fa fa-address-card fa-lg fa-nav" aria-hidden="true"></i><i class="fas fa-nav">A propos</i></a></li>
          <li class="menu menu-services"><a href="#"><i class="fas fa-handshake fa-lg fa-nav"></i><i class="fas fa-nav">Prestation de services</i></a>
              <ul class="submenu">
                <li><a href="{{ path('videal_contrat_maintenance_homepage') }}">Contrat de maintenance</a></li>
                <li><a href="#">Depannage/ Reglages porte de garage</a></li>
                <li><a href="{{ path('videal_depannage_alarme_homepage') }}">Depannage Système d'alarme</a></li>
                <li><a href="{{ path('videal_depannage_video_homepage') }}">Depannage Video</a></li>
                <li><a href="{{ path('videal_interphonie_et_ca_homepage') }}">Interphonie et controle d'accès</a></li>
                <li><a href="{{ path('videal_incendie_homepage') }}">Incendie</a></li>
              </ul>
          </li>
          <li class="menu menu-produits"><a href="#"><i class="fa fa-suitcase fa-lg fa-nav"></i><i class="fas fa-nav">Produits</i></a>
              <ul class="submenu">
                <li><a href="#">Alarme Filaire</a></li>
                <li><a href="#">Alarme sans fil</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Interphone</a></li>
              </ul>
          </li>
          <li class="menu contactus"><a href="{{ path('videal_contact_us_homepage') }}"><i class="fas fa-phone">Nous contacter</i></a></li>
        </ul>
    </nav>
    {% endblock %}
        {% block body %}
        {% block navigation %}
        {% endblock %}
        {% endblock %}  
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
  <footer>
  <section>
    <div class="coordonnees">
    <h5><strong>Mr VANHOVE Philippe</strong></h5>
      <div class="coor-left">
        <h5><i>Téléphone:</i></h5>
        <h5><i>Courriel:</i></h5>
      </div>
      <div class="coor-right">
        <h5>06 26 04 94 44 </h5>
        <h5>Videal74@gmail.com</h5>
      </div>
    </div>
  </section>
    <h5 class=" text-right"><strong>Videal © Copyright 2018</strong> </h5>
  </footer>
</html>
